Babel	
aiogram
aiohttp	
async-timeout	
attrs
certifi
chardet
et-xmlfile	
feedparser
idna	
jdcal	
multidict
openpyxl
path
pip
pyTelegramBotAPI
pytz
requests
setuptools
sgmllib3k
six
telebot
tornado
typing-extensions
urllib3
yarl